<div class="m-1">
    <div class="md-3">
        <label for="values" class="form-label">Nomes</label>
        <textarea name="values"  class="form-control" id="values" rows="3"  placeholder="Nomes em cada linha" [(ngModel)]="valores"></textarea>
    </div>
    <div *ngIf="loading">
        <div class="spinner-border"><br></div>
        corregando...
    </div>
    <button class="btn btn-warning" (click)="onSorteio()" [disabled]="valores.length === 0">Sortear</button>
    <h1 *ngIf="sorteado" class="display-3"> O sorteado foi {{sorteado}}</h1>
</div>