<div class="card mb-5" style="width: 14rem;">
    <img [src]="servico.imagem" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ servico.nomeServico}}</h5>
      <p class="card-text">{{ servico.descricao }}</p>
      <button class="btn btn-primary" (click)="onContratar()">Contratar</button>
      <p class="text-muted " *ngIf="!servico.contratado; else: botao"> Contratado {{ servico.contratado }} vez(es)</p>
    <br>
    </div>
      <ng-template #botao>
        <button class="btn btn-danger" (click)="onCancelar()">Cancelar</button>
      </ng-template>
  </div>
