<h2 class="text-center">Produtos</h2>
<hr>
<div class="container m-auto row">
    <div class="row row-cols-4">
      <div class="col"><app-produto></app-produto></div>
      <div class="col"><app-produto></app-produto></div>
      <div class="col"><app-produto></app-produto></div>
      <div class="col"><app-produto></app-produto></div>
    </div>
  </div>

  <div class="container m-auto row">
    <div class="row row-cols-4">
      <div class="col"><app-produto></app-produto></div>
      <div class="col"><app-produto></app-produto></div>
      <div class="col"><app-produto></app-produto></div>
      <div class="col"><app-produto></app-produto></div>
    </div>
  </div>
