<div class="container-fluid bg-secondary text-white">
    <h3>banner works!</h3>
    <p>{{ slogan }}</p>
    <p>{{ endereco }}</p>
    <button class="btn" [ngClass]="{'btn-light': oculto, 'btn-danger': !oculto }" (click)="onChangeLista()">{{ callToAction }}</button>
    <!-- <button [class]="classBtn" (click)="onChangeLista()">{{ oculto ? 'Mostrar destaques':'Ocultar Destaques' }}</button> -->
    <ul *ngIf="!oculto; else mensagem">
        <li *ngFor="let destaque of destaques; index as i">#{{i+1}}-{{destaque}}</li>
    </ul>
    <ng-template #mensagem><!--O else espera um ng-template (que fica oculto ate que seja chamado ou o nfIf caia no else)-->
        <br>
        <small class="text-muted">
            Você pode clicar no botão para ter os destaques
        </small>
    </ng-template>
    <p class="display-5" *ngIf="relogin$ | async as relogin"> 
        <!--O 'async' faz a função do subscribe. E deve ser usado no html ao invés do ts-->
       {{ relogin | date: "HH:mm:ss"}}
    </p>
</div>


